<ion-view>
    <ion-nav-title>
        跟踪提醒
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button btn-back" ng-click="go_back()">
            <i class="icon ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-content id="news-tracking">
        <div class="list">
            <div class="item">
                <div class="main">
                    <div class="row">
                        <div class="col-22">
                            <div class="thumb"></div>
                        </div>
                        <div class="col">
                            <div class="detail"><span class="list-title">111588</span></div>
                            <div class="detail">三明市新德车业有限公司</div>
                        </div>
                    </div>
                    <div class="list-description">
                        <p>问题：SOP整改</p>
                        <p>行动目标：提升SOP</p>
                        <p>内容：1、取下门店工位上方吊旗，不再悬挂；<span style="background-color: transparent;">2、增加门店驰加有道卡陈列宣传（机油货架、海报等）；</span></p>
                        <p>执行人：姜志寿、李仰金、黄宏贵、李厚辉、黄桂、林珍、江国强、温正建、黄军、庄华年、姜金钰</p>
                        <p>预计完成时间：2016-08-01</p>
                        <p>超时提醒：已超时1天</p>
                    </div>
                </div>
                <div class="item-footer">点击确认收到</div>
            </div>
            <div class="item">
                <div class="main">
                    <div class="row">
                        <div class="col-22">
                            <div class="thumb"></div>
                        </div>
                        <div class="col">
                            <div class="detail"><span class="list-title">111588</span></div>
                            <div class="detail">三明市新德车业有限公司</div>
                        </div>
                    </div>
                    <div class="list-description">
                        <p>问题：SOP整改</p>
                        <p>行动目标：提升SOP</p>
                        <p>内容：1、取下门店工位上方吊旗，不再悬挂；<span style="background-color: transparent;">2、增加门店驰加有道卡陈列宣传（机油货架、海报等）；</span></p>
                        <p>执行人：姜志寿、李仰金、黄宏贵、李厚辉、黄桂、林珍、江国强、温正建、黄军、庄华年、姜金钰</p>
                        <p>预计完成时间：2016-08-01</p>
                        <p>超时提醒：已超时1天</p>
                    </div>
                </div>
                <div class="item-footer">点击确认收到</div>
            </div>
        </div>
    </ion-content>
</ion-view>
