<ion-view>
    <ion-nav-title>
        客服
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button btn-back" ng-click="go_back()">
            <i class="icon ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-content id="news-customer">
        <div class="list">
            <div class="item item-thumbnail-left">
                <img class="img-thumb" src="img/imgplaceholder.png" style="width:55px; height:55px" />
                <p><span class="list-title">QQ客服</span></p>
                <p class="list-description">601370063</p>
            </div>
            <div class="item item-thumbnail-left">
                <img class="img-thumb" src="img/imgplaceholder.png" style="width:55px; height:55px" />
                <p><span class="list-title">电话客服</span></p>
                <p class="list-description">185 0034 0567</p>
            </div>
        </div>
    </ion-content>
</ion-view>