<ion-view>
    <ion-nav-title>
        店面年度工作计划
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button btn-back" ng-click="go_back()">
            <i class="fa fa-filter" style="font-size:20px; color:black;"></i>
        </button>
    </ion-nav-buttons>
    <ion-content id="perform-analysis"  class="padding-without">
        <div class="list">
            <div class="item row">
                <div class="col col-25 item-title">
                    门店编号
                </div>
                <div class="col">
                    <input type="text" placeholder="168158" />
                </div>
            </div>
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    门店名称
                </div>
                <div class="col">
                    <input type="text" placeholder="驰加(上海)汽车用品贸易有限公司" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    一月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    二月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    三月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    四月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    五月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    六月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    七月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    八月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    九月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    十月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    十一月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    十二月
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入" />
                </div>
            </div>
        </div>
        <div class="store-section">
            添加其它工作计划+
        </div>
        <textarea placeholder="备注"></textarea>
        <div class="button-area">
            <button class="button" ng-click="go_back()">保存</button>
        </div>
    </ion-content>
</ion-view>