<ion-view>
    <ion-nav-title>
        个人信息
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="go_save()">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content id="store-detail">
        <div class="list">
            <div class="item row">
                <div class="col-30 item-title">
                    头像
                </div>
                <div class="col">
                    <i class="icon ion-camera" style="font-size:30px;"></i>
                    <i class="icon ion-chevron-right" style="font-size:15px; float:right; margin-top: 7px;"></i>
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    姓名
                </div>
                <div class="col">
                    <input type="text" placeholder="周东" />
                </div>
            </div>
            <div class="item row">
                <label class="item item-input item-select">
                    <div class="input-label">
                        性别
                    </div>
                    <select style="width:70%; padding-left: 0px;"><option>男</option><option>女</option></select>
                </label>
            </div>
        </div>
        <div class="list">
            <div class="item row">
                <div class="col-30 item-title">
                    公司
                </div>
                <div class="col">
                    <input type="text" placeholder="米其林（中国）投资有限公司" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    部门
                </div>
                <div class="col">
                    <input type="text" placeholder="N1" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    职位
                </div>
                <div class="col">
                    <input type="text" placeholder="Consultant" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    工号
                </div>
                <div class="col">
                    <input type="text" placeholder="H111111" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    联系电话
                </div>
                <div class="col">
                    <input type="text" placeholder="13801018705" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    邮箱
                </div>
                <div class="col">
                    <input type="text" placeholder="dong.zhou@cn.michelin.com" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    现居地址
                </div>
                <div class="col">
                    <input type="text" placeholder="北京市昌平区天通西苑一区" />
                </div>
            </div>
        </div>
        <div class="store-section">
            更多信息
        </div>
        <div class="list">
            <div class="item row">
                <div class="col-30 item-title">
                    生日
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    籍贯
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    民族
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    身份证号
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
            <div class="item row">
                <label class="item item-input item-select">
                    <div class="input-label">
                        婚姻状况
                    </div>
                    <select style="width: 70%; padding-left: 0px;"><option>保密</option><option>已婚</option><option>未婚</option></select>
                </label>
            </div>
            <div class="item row">
                <label class="item item-input item-select">
                    <div class="input-label">
                        子女
                    </div>
                    <select style="width: 70%; padding-left: 0px;"><option>保密</option><option>有</option><option>无</option></select>
                </label>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    家庭住址
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    紧急联系
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    入职日期
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30 item-title">
                    毕业日期
                </div>
                <div class="col">
                    <input type="text" placeholder="非必填项" />
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>