<ion-view>
    <ion-nav-title>
        我的
    </ion-nav-title>
    <ion-content id="tab-self">
        <div class="list">
            <div id="each" class="item item-icon-left item-icon-right" ng-click="go_information()">
                <i class="icon fa fa-user"></i>
                <p>
                    <div class="store-id">个人信息</div>
                    <div class="store-name"></div>
                </p>
                <i class="icon ion-chevron-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon fa fa-question-circle"></i>
                <p>
                    <div class="store-id">使用帮助</div>
                    <div class="store-name"></div>
                </p>
                <i class="icon ion-chevron-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon fa fa-lock"></i>
                <p>
                    <div class="store-id">账号与安全</div>
                    <div class="store-name"></div>
                </p>
                <i class="icon ion-chevron-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon fa fa-phone-square"></i>
                <p>
                    <div class="store-id">客服热线</div>
                    <div class="store-name">185 0034 0567</div>
                </p>
                <i class="icon ion-chevron-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon fa fa-user-secret"></i>
                <p>
                    <div class="store-id">关于我们</div>
                    <div class="store-name"></div>
                </p>
                <i class="icon ion-chevron-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon fa fa-trash"></i>
                <p>
                    <div class="store-id">清除缓存</div>
                    <div class="store-name">12.34M</div>
                </p>
                <i class="icon ion-chevron-right"></i>
            </div>
        </div>
        <button id="submit" class="button button-block button-balanced">登录</button>
    </ion-content>
</ion-view>