<ion-view>
    <ion-nav-title>
        门店
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button btn-back" ng-click="go_add()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content id="tab-store">
        <div id="search-bar" class="full">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="search-input" type="text" placeholder="搜索" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>
        <div class="list">
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310009</div>
                    <div class="store-name">响水江年</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">113395</div>
                    <div class="store-name">淮安市神达商贸发展有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">111186</div>
                    <div class="store-name">盱眙富裕商贸有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310007</div>
                    <div class="store-name">福州信诚</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">113447</div>
                    <div class="store-name">盐城荣平轮胎有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310</div>
                    <div class="store-name">泉州正鼎贸易有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">112626</div>
                    <div class="store-name">扬州市峰豪汽车销售服务有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">116987</div>
                    <div class="store-name">福建省仙游县莱斯豪汽车服务有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">112444</div>
                    <div class="store-name">淮安市乐驰商贸有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">111241</div>
                    <div class="store-name">淮安区淮城镇裕驰轮胎经营部</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310011</div>
                    <div class="store-name">高良涧镇顺捷轮胎经营部</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">115953</div>
                    <div class="store-name">盐城市宇盛商贸有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H61930006</div>
                    <div class="store-name">福建脱胎换毂</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H61930003</div>
                    <div class="store-name">厦门泰升润滑油有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">122650</div>
                    <div class="store-name">丰泽区车宝贝汽车养护中心</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">112347</div>
                    <div class="store-name">兴化市明道轮胎经营部</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">110993</div>
                    <div class="store-name">宿迁市路路通汽车服务有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">111836</div>
                    <div class="store-name">宿迁市宝源轮胎有限公司泗洪分公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">113394</div>
                    <div class="store-name">宝应县广丰达汽车服务中心</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310008</div>
                    <div class="store-name">晋江市金伙轮胎行</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">111613</div>
                    <div class="store-name">泉州市丰泽区南兴轮胎行</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310004</div>
                    <div class="store-name">泉州市顺鑫轮胎服务部</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310010</div>
                    <div class="store-name">淮安神丰</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310001</div>
                    <div class="store-name">泉州市丰泽区鸿运汽车服务中心</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">H619310002</div>
                    <div class="store-name">惠安县螺城万通轮胎店</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">117312</div>
                    <div class="store-name">盱眙腾达汽配贸易有限公司</div>
                </p>
            </div>
            <div class="item item-icon-right" ng-click="go_detail()">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">125038</div>
                    <div class="store-name">射阳县合德镇驰皓汽车维修服务中心</div>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>