<ion-view>
    <ion-nav-title>
        选择行程类型
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            取消
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="go_back()">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content id="trip-type">
        <div class="list">
            <div class="item row item-icon-right">
                <div class="col col-25 item-title">
                    店面拜访
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    签约店面拜访
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px; color:#48b52d;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    潜在客户拜访
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-25 item-title">
                    办公室工作
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-25 item-title">
                    会议
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    电话会议
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    周会
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    月会
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    年会
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    区域研讨会
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    区域委员会
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-25 item-title">
                    假期
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    事假
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    病假
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    年假
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    探亲假
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    年假
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    生育假 / 陪产假
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    区域研讨会
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    区域委员会
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-25 item-title">
                    其它
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    路途
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    培训
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    交接工作
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    岗位认证
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    旅游奖励
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
        </div>
    </ion-content>
</ion-view>