<ion-view ng-controller="trip-typeCtrl">
    <ion-nav-title>
        选择行程类型
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            取消
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="save()">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content id="trip-type">
        <div class="list">
            <div class="item row item-icon-right" ng-repeat="type in plantypes">
                <div class="col col-75" style="color:#aaa; padding-left:70px;">
                    {{type.plantype_name}}
                </div>
                <i class="icon fa fa-square-o" style="font-size:20px;color:green;" ng-click="onItem($event, type)"></i>
            </div>          
        </div>
    </ion-content>
</ion-view>