<ion-view ng-controller="trip-storeCtrl">
    <ion-nav-title>
        选择行程类型
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            取消
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="go_back()">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content id="trip-store">
        <div id="search-bar" class="full">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="search-input" type="text" placeholder="搜索" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right">
                <div class="col col-20 item-title">
                    123269
                </div>
                <div class="col col-50 item-title" style="color:#aaa; overflow:hidden; text-overflow: ellipsis;">
                    沈阳市于洪区洪通骏驰汽车修理厂
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-20 item-title">
                    124222
                </div>
                <div class="col col-50 item-title" style="color:#aaa; overflow:hidden; text-overflow: ellipsis;">
                    沈阳市铁西区酷轮时代轮胎商行
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-20 item-title">
                    111279
                </div>
                <div class="col col-50 item-title" style="color:#aaa; overflow:hidden; text-overflow: ellipsis;">
                    沈阳市皇姑区安驰汽车美容服务部
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-20 item-title">
                    119100
                </div>
                <div class="col col-50 item-title" style="color:#aaa; overflow:hidden; text-overflow: ellipsis;">
                    沈阳信成商贸有限公司
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-20 item-title">
                    110814
                </div>
                <div class="col col-50 item-title" style="color:#aaa; overflow:hidden; text-overflow: ellipsis;">
                    开原市新奉物资轮胎有限公司
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-20 item-title">
                    124832
                </div>
                <div class="col col-50 item-title" style="color:#aaa; overflow:hidden; text-overflow: ellipsis;">
                    沈阳市皇姑区安途轮胎经销中心
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-20 item-title">
                    116247
                </div>
                <div class="col col-50 item-title" style="color:#aaa; overflow:hidden; text-overflow: ellipsis;">
                    抚顺市兴盛达汽车服务有限公司
                </div>
                <i class="icon fa fa-check-square-o" style="font-size:20px;"></i>
            </div>
        </div>    
    </ion-content>
</ion-view>