<ion-view ng-controller="perform-communicationCtrl">
    <ion-nav-title>
        添加沟通
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="go_back()">
            统计
        </button>
    </ion-nav-buttons>
    <ion-content id="perform-analysis" class="padding-without">
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    沟通人员
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="常淳、勾宇" />
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    沟通时间
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="2016-04-21 15:00" />
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    沟通内容
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入或选择备选" />
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    沟通结果
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="请点击输入或选择备选" />
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <textarea placeholder="备注"></textarea>
        <div class="store-section">
            添加其它行动计划+
        </div>
        <div class="row">
            <div class="col col-25">
                <i class="icon fa fa-camera big" ng-click="go_camera()"></i>
            </div>
            <div class="col col-25">
                <i class="icon fa fa-plus big" ng-click="go_camera()"></i>
            </div>
        </div>
        <div class="store-section mark">
            <i class="fa fa-map-marker" style="font-size:18px; color:#999; padding-right:10px;"></i>所在位置
        </div>
        <div class="button-area">
            <button class="button" ng-click="go_back()">保存</button>
        </div>
    </ion-content>
</ion-view>