<ion-view ng-controller="roadCtrl">
    <ion-nav-title>
        执行非巡店类行程
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            取消
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="submit(start_time, end_time)">
            提交
        </button>
    </ion-nav-buttons>
    <ion-content id="perform-analysis" class="padding-without">
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    开始时间
                </div>
                <div class="col col-50">
                    <input type="time" ng-model="start_time">
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    结束时间
                </div>
                <div class="col col-50">
                    <input type="time" ng-model="end_time">
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <textarea placeholder="备注" ng-model="comments"></textarea>
       <div class="" style="position: fixed;bottom:0;padding:20px;width:100%;">
            <button  class="button button-block button-balanced" style="width:100%;" ng-click="done()">Done</button>            
        </div>
    </ion-content>
</ion-view>