<ion-view ng-controller="train-listCtrl">
    <ion-nav-title>
        培训辅导
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="">
            导出
        </button>
    </ion-nav-buttons>
    <ion-content id="audit-list">
        <div class="row header">
            <div class="col">被辅导人</div>
            <div class="col">辅导内容</div>
            <div class="col">辅导效果</div>
            <div class="col">辅导时间</div>
        </div>
        <div style="border:1px #000;" ng-repeat="data in coms" style="margin-top:0;border-top:1px solid #ddd;">
            <div class="row">
                <div class="col">{{data.train_people}}</div>
                <div class="col">{{data.train_content}}</div>
                <div class="col">{{data.train_result}}</div>
                <div class="col">{{data.train_date}}</div>
            </div>
        </div>

    </ion-content>
</ion-view>