<ion-view ng-controller="inventory-listCtrl">
    <ion-nav-title>
        库存统计
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="">
            筛选
        </button>
    </ion-nav-buttons>
    <ion-content id="audit-list">
        <div class="row header">
            <div class="col">店面编号</div>
            <div class="col">轮胎编号</div>
            <div class="col">轮胎名称</div>
            <div class="col">库存数量</div>
            <div class="col">上报人</div>
            <div class="col">上报时间</div>
            <div class="col">备注</div>
        </div>
        <div style="border:1px #000;" ng-repeat="data in inventory" style="margin-top:0;border-top:1px solid #ddd;">
            <div class="row">
                <div class="col">{{shop_code}}</div>
                <div class="col">{{data.brand_code}}</div>
                <div class="col">{{data.brand_name}}</div>
                <div class="col">{{data.storenum}}</div>
                <div class="col">{{data.user_name}}</div>
                <div class="col">{{data.report_date}}</div>
                <div class="col">{{data.comments}}</div>
            </div>
        </div>

    </ion-content>
</ion-view>