<ion-view ng-controller="perform-salesCtrl">
    <ion-nav-title>
        销量上报
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="go_back()">
            统计
        </button>
    </ion-nav-buttons>
    <ion-content id="perform-analysis" class="padding-without">
        <div class="list">
            <div class="item row">
                <div class="col col-25 item-title">
                    门店编号
                </div>
                <div class="col">
                    <input type="text" placeholder="{{store_id}}" />
                </div>
            </div>
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    门店名称
                </div>
                <div class="col">
                    <input type="text" placeholder="{{store_name}}" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right">
                <div class="col col-25 item-title">
                    轮胎编号
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="6921317905014" ng-model="sale.tire_id">
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item row item-icon-right">
                <div class="col col-25 item-title">
                    轮胎名称
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="米其林 Energy XM 2 韧悦"  ng-model="sale.tire_name">
                </div>
                <i class="icon fa fa-refresh" style="font-size:24px;"></i>
            </div>
            <div class="item row">
                <div class="col col-25 item-title">
                    库存数量
                </div>
                <div class="col">
                    <input type="text" placeholder="请点击输入"  ng-model="sale.amount">
                </div>
            </div>
            <div class="item row" style="border:none;">
                <div class="col col-25 item-title">
                    销售金额
                </div>
                <div class="col">
                    <input type="text" placeholder="请点击输入"  ng-model="sale.price">
                </div>
            </div>
        </div>
        <div class="store-section">
            添加其它轮胎销量+
        </div>
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    总金额
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="自动计算或点击修改"  ng-model="sale.total_price">
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    上报人
                </div>
                <div class="col col-50">
                    <input type="text" placeholder="周东"  ng-model="sale.reporter">
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list">
            <div class="item row item-icon-right" style="border:none;">
                <div class="col col-25 item-title">
                    上报时间
                </div>
                <div class="col col-50">
                    <input type="date" placeholder="2016-04-21 10:12"  ng-model="sale.time">
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <textarea placeholder="备注"  ng-model="sale.remark"></textarea>
        <div class="row">
            <div class="col col-25">
                <i class="icon fa fa-camera big" ng-click="go_camera()"></i>
            </div>
            <div class="col col-25">
                <i class="icon fa fa-plus big" ng-click="go_camera()"></i>
            </div>
        </div>
        <div class="store-section mark">
            <i class="fa fa-map-marker" style="font-size:18px; color:#999; padding-right:10px;"></i>所在位置
        </div>
        <div class="button-area">
            <button class="button" ng-click="save(sale)">保存</button>
        </div>
    </ion-content>
</ion-view>