<ion-view ng-controller="news-announcementCtrl" ng-init="announcement_init()">
    <ion-nav-title>
        公告
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button btn-back" ng-click="go_back()">
            <i class="icon ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-content id="news-announcement">
        <div class="list">
            <div class="item" ng-repeat="data in announcements">
                <div class="row">
                    <div class="col-22">
                        <div class="thumb">志礼</div>
                    </div>
                    <div class="col">
                        <div class="detail"><span class="list-title">{{data.reporter_name}}</span><span class="list-date">{{data.report_date.getMonth()+1}}月{{data.report_date.getDate()}}日</span></div>
                        <p class="list-description">{{data.report_content}}</p>
                    </div>
                </div>
                <div class="item-footer">点击确认收到</div>
            </div>                                               
        </div>
    </ion-content>
</ion-view>
