<ion-view ng-controller="news-dynamic-detail-pptxCtrl">
    <ion-nav-title>
        {{filename}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button btn-back" ng-click="go_back()">
            <i class="icon ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button btn-back" ng-click="download()">
            <i class="icon fa fa-download" style="font-size:24px;"></i>
        </button>
    </ion-nav-buttons>
    <ion-content id="news-dynamic-detail-pptx">
        <img class="image" src="assets/img/pptxfile.png"/>
    </ion-content>
</ion-view>