<ion-view ng-controller="store-staffCtrl">
    <ion-nav-title>
        店面人员信息
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="addStaff()">
            添加
        </button>
    </ion-nav-buttons>
    <ion-content id="trip-select-duty" style="padding-top:0px;">
        <div id="search-bar" class="full">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="search-input" type="text" placeholder="搜索" ng-model="query" ng-change="search(query)">
                </label>
            </div>
        </div>
        <div class="list">
            <div class="item item-thumbnail-left item-icon-right" ng-repeat="staff in staffs">
                <img class="img-thumb" src="{{staff.head_url}}" style="width:50px; height:50px; border-radius:25px;" />
                <i class="icon ion-chevron-right" ng-click="go_detail(staff.shopofstaff_id)"></i>
                <p>                    
                    <div class="staff-name">{{staff.staff_name}}</div>
                    <div class="staff-position">{{staff.learn_identity}}</div>
                    <div class="staff-phone">{{staff.telephone}}</div>
                </p>
            </div>                                   
        </div>
    </ion-content>
</ion-view>
