<ion-view>
    <ion-nav-title>
        查看店面人员信息
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="go_back()">
            返回
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="go_back()">
            编辑
        </button>
    </ion-nav-buttons>
    <ion-content id="store-manager">
        <div id="search-bar" class="full">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="search-input" type="text" placeholder="搜索" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>
        <div class="list">
            <div class="item row">
                <div class="col-30">
                    <img src="assets/img/manager.jpeg" />
                </div>
                <div class="col-70 padding-area">
                    <span style="color:black;">郝海山&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>店主</span>
                </div>
            </div>
            <div class="item row">
                <div class="col-30">
                    姓名
                </div>
                <div class="col-70">
                    <input type="text" placeholder="郝海山" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30">
                    性别
                </div>
                <div class="col-70">
                    <input type="text" placeholder="男" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30">
                    身份证号
                </div>
                <div class="col-70">
                    <input type="text" placeholder="32080197624378****" />
                </div>
            </div>
            <div class="item">
                <label class="item item-input item-select">
                    <div class="input-label">
                        E-learning<br />登录身份
                    </div>
                    <select style="width:70%; padding-left: 0px; color:#999"><option>1、普通员工</option><option>2、DMS操作员</option><option>3、关键员工</option><option>4、店主</option></select>
                </label>
            </div>
            <div class="item">
                <label class="item item-input item-select">
                    <div class="input-label">
                        人员职级
                    </div>
                    <select style="width:70%; padding-left: 0px; color:#999"><option>1、见习员工</option><option>2、普通员工</option><option>3、训练员</option><option>4、员工组长</option><option>5、助理经理</option><option>6、中心经理</option><option>7、经营者</option></select>
                </label></div>
            <div class="item row">
                <div class="col-30">
                    手机
                </div>
                <div class="col-70">
                    <input type="text" placeholder="136****7976" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30">
                    入职时间
                </div>
                <div class="col-70">
                    <input type="text" placeholder="2010-01-01" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30">
                    学历
                </div>
                <div class="col-70">
                    <input type="text" placeholder="本科" />
                </div>
            </div>
            <div class="item row">
                <div class="col-30">
                    人员状态
                </div>
                <div class="col col-25">
                    <label class="toggle">
                        <input type="checkbox" checked>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="col">
                    在职
                </div>
            </div>
            <div class="item row">
                <div class="col-30" style="margin-top:5px;">
                    其它
                </div>
                <div class="col-70" style="border:none;">
                    <textarea placeholder="其它备注"></textarea>
                </div>
            </div>
            <div class="button-area">
                <button class="button" ng-click="go_back()">保存</button>
            </div>
        </div>
    </ion-content>
</ion-view>