<ion-view ng-controller="storeCtrl">
    <ion-nav-title>
        门店
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button btn-back" ng-click="go_add()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content id="tab-store">
        <div id="search-bar" class="full">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="search-input" type="text" placeholder="搜索" ng-model="query" ng-change="search(query)">
                </label>
            </div>
        </div>
        <div class="list">
            <div class="item item-icon-right" ng-repeat="store in stores" ng-click="go_detail(store.sid, store.shop_code)">
                <i class="icon ion-chevron-right"></i>
                <p>
                    <div class="store-id">{{store.shop_code}}</div>
                    <div class="store-name">{{store.shop_name}}</div>
                </p>
            </div>                
        </div>
    </ion-content>
</ion-view>